@font-face {
  font-family: "iconfont"; /* Project id 4284616 */
  src: url('iconfont.woff2?t=1697138580247') format('woff2'),
       url('iconfont.woff?t=1697138580247') format('woff'),
       url('iconfont.ttf?t=1697138580247') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhihu1:before {
  content: "\e600";
}

.icon-zhihu-square-fill:before {
  content: "\ea8b";
}

.icon-zhihu:before {
  content: "\e69a";
}

